@import "tailwindcss";
@plugin "daisyui";

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}

.active {
  background-color: rgb(75, 75, 220);
  color: white;
}
